@font-face {
  font-family: "qianniu"; /* Project id 3199680 */
  src: url('iconfont.woff2?t=1666516787379') format('woff2'),
       url('iconfont.woff?t=1666516787379') format('woff'),
       url('iconfont.ttf?t=1666516787379') format('truetype');
}

.qianniu {
  font-family: "qianniu" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qianniu-interactive:before {
  content: "\e721";
}

.qianniu-keyboard:before {
  content: "\e722";
}

.qianniu-label:before {
  content: "\e723";
}

.qianniu-label_fill:before {
  content: "\e724";
}

.qianniu-like_fill:before {
  content: "\e725";
}

.qianniu-like:before {
  content: "\e726";
}

.qianniu-live_fill:before {
  content: "\e727";
}

.qianniu-live:before {
  content: "\e728";
}

.qianniu-lock_fill:before {
  content: "\e729";
}

.qianniu-lock:before {
  content: "\e72a";
}

.qianniu-mail:before {
  content: "\e72b";
}

.qianniu-mail_fill:before {
  content: "\e72c";
}

.qianniu-manage_fill:before {
  content: "\e72d";
}

.qianniu-manage:before {
  content: "\e72e";
}

.qianniu-message:before {
  content: "\e72f";
}

.qianniu-message_fill:before {
  content: "\e730";
}

.qianniu-mine:before {
  content: "\e731";
}

.qianniu-mine_fill:before {
  content: "\e732";
}

.qianniu-mobilephone_fill:before {
  content: "\e733";
}

.qianniu-mobilephone:before {
  content: "\e734";
}

.qianniu-more:before {
  content: "\e735";
}

.qianniu-narrow:before {
  content: "\e736";
}

.qianniu-offline_fill:before {
  content: "\e737";
}

.qianniu-offline:before {
  content: "\e738";
}

.qianniu-order_fill:before {
  content: "\e739";
}

.qianniu-order:before {
  content: "\e73a";
}

.qianniu-other:before {
  content: "\e73b";
}

.qianniu-people_fill:before {
  content: "\e73c";
}

.qianniu-people:before {
  content: "\e73d";
}

.qianniu-picture_fill:before {
  content: "\e73e";
}

.qianniu-picture:before {
  content: "\e73f";
}

.qianniu-play:before {
  content: "\e740";
}

.qianniu-play_fill:before {
  content: "\e741";
}

.qianniu-playon_fill:before {
  content: "\e742";
}

.qianniu-playon:before {
  content: "\e743";
}

.qianniu-praise_fill:before {
  content: "\e744";
}

.qianniu-praise:before {
  content: "\e745";
}

.qianniu-prompt_fill:before {
  content: "\e746";
}

.qianniu-prompt:before {
  content: "\e747";
}

.qianniu-qrcode_fill:before {
  content: "\e748";
}

.qianniu-qrcode:before {
  content: "\e749";
}

.qianniu-redpacket_fill:before {
  content: "\e74a";
}

.qianniu-redpacket:before {
  content: "\e74b";
}

.qianniu-refresh:before {
  content: "\e74c";
}

.qianniu-remind_fill:before {
  content: "\e74d";
}

.qianniu-remind:before {
  content: "\e74e";
}

.qianniu-return:before {
  content: "\e74f";
}

.qianniu-right:before {
  content: "\e750";
}

.qianniu-scan:before {
  content: "\e751";
}

.qianniu-select_fill:before {
  content: "\e752";
}

.qianniu-select:before {
  content: "\e753";
}

.qianniu-send:before {
  content: "\e754";
}

.qianniu-service_fill:before {
  content: "\e755";
}

.qianniu-service:before {
  content: "\e756";
}

.qianniu-setup_fill:before {
  content: "\e757";
}

.qianniu-setup:before {
  content: "\e758";
}

.qianniu-share_fill:before {
  content: "\e759";
}

.qianniu-share:before {
  content: "\e75a";
}

.qianniu-shielding_fill:before {
  content: "\e75b";
}

.qianniu-shielding:before {
  content: "\e75c";
}

.qianniu-smallscreen_fill:before {
  content: "\e75d";
}

.qianniu-smallscreen:before {
  content: "\e75e";
}

.qianniu-stealth_fill:before {
  content: "\e75f";
}

.qianniu-stealth:before {
  content: "\e760";
}

.qianniu-success_fill:before {
  content: "\e761";
}

.qianniu-success:before {
  content: "\e762";
}

.qianniu-suspend:before {
  content: "\e763";
}

.qianniu-switch:before {
  content: "\e764";
}

.qianniu-systemprompt_fill:before {
  content: "\e765";
}

.qianniu-systemprompt:before {
  content: "\e766";
}

.qianniu-tailor:before {
  content: "\e767";
}

.qianniu-task:before {
  content: "\e768";
}

.qianniu-task_fill:before {
  content: "\e769";
}

.qianniu-tasklist_fill:before {
  content: "\e76a";
}

.qianniu-tasklist:before {
  content: "\e76b";
}

.qianniu-text:before {
  content: "\e76c";
}

.qianniu-time_fill:before {
  content: "\e76d";
}

.qianniu-time:before {
  content: "\e76e";
}

.qianniu-translation_fill:before {
  content: "\e76f";
}

.qianniu-translation:before {
  content: "\e770";
}

.qianniu-trash:before {
  content: "\e771";
}

.qianniu-trash_fill:before {
  content: "\e772";
}

.qianniu-undo:before {
  content: "\e773";
}

.qianniu-unlock_fill:before {
  content: "\e774";
}

.qianniu-unlock:before {
  content: "\e775";
}

.qianniu-video:before {
  content: "\e776";
}

.qianniu-video_fill:before {
  content: "\e777";
}

.qianniu-warning_fill:before {
  content: "\e778";
}

.qianniu-warning:before {
  content: "\e779";
}

.qianniu-workbench_fill:before {
  content: "\e77a";
}

.qianniu-workbench:before {
  content: "\e77b";
}

.qianniu-search:before {
  content: "\e77c";
}

.qianniu-searchfill:before {
  content: "\e77d";
}

.qianniu-qianniu:before {
  content: "\e77e";
}

.qianniu-publishgoods_fill:before {
  content: "\e77f";
}

.qianniu-shop_fill:before {
  content: "\e780";
}

.qianniu-transaction_fill:before {
  content: "\e781";
}

.qianniu-packup:before {
  content: "\e782";
}

.qianniu-unfold:before {
  content: "\e783";
}

.qianniu-wangwang:before {
  content: "\e784";
}

.qianniu-financial_fill:before {
  content: "\e785";
}

.qianniu-marketing_fill:before {
  content: "\e786";
}

.qianniu-shake:before {
  content: "\e787";
}

.qianniu-decoration_fill:before {
  content: "\e788";
}

.qianniu-budaidise:before {
  content: "\e789";
}

.qianniu-qianniudaidise:before {
  content: "\e78a";
}

.qianniu-questions:before {
  content: "\e78b";
}

.qianniu-supply:before {
  content: "\e78c";
}

.qianniu-tools:before {
  content: "\e78d";
}

.qianniu-int:before {
  content: "\e78e";
}

.qianniu-commodity:before {
  content: "\e78f";
}

.qianniu-zhtn:before {
  content: "\e790";
}

.qianniu-accessory:before {
  content: "\e6dd";
}

.qianniu-activity:before {
  content: "\e6de";
}

.qianniu-activity_fill:before {
  content: "\e6df";
}

.qianniu-add:before {
  content: "\e6e0";
}

.qianniu-addition_fill:before {
  content: "\e6e1";
}

.qianniu-addition:before {
  content: "\e6e2";
}

.qianniu-addpeople_fill:before {
  content: "\e6e3";
}

.qianniu-addpeople:before {
  content: "\e6e4";
}

.qianniu-addressbook_fill:before {
  content: "\e6e5";
}

.qianniu-addressbook:before {
  content: "\e6e6";
}

.qianniu-barrage_fill:before {
  content: "\e6e7";
}

.qianniu-barrage:before {
  content: "\e6e8";
}

.qianniu-browse_fill:before {
  content: "\e6e9";
}

.qianniu-browse:before {
  content: "\e6ea";
}

.qianniu-brush:before {
  content: "\e6eb";
}

.qianniu-brush_fill:before {
  content: "\e6ec";
}

.qianniu-businesscard_fill:before {
  content: "\e6ed";
}

.qianniu-businesscard:before {
  content: "\e6ee";
}

.qianniu-camera_fill:before {
  content: "\e6ef";
}

.qianniu-camera:before {
  content: "\e6f0";
}

.qianniu-clock_fill:before {
  content: "\e6f1";
}

.qianniu-clock:before {
  content: "\e6f2";
}

.qianniu-close:before {
  content: "\e6f3";
}

.qianniu-collection_fill:before {
  content: "\e6f4";
}

.qianniu-collection:before {
  content: "\e6f5";
}

.qianniu-computer_fill:before {
  content: "\e6f6";
}

.qianniu-computer:before {
  content: "\e6f7";
}

.qianniu-coordinates_fill:before {
  content: "\e6f8";
}

.qianniu-coordinates:before {
  content: "\e6f9";
}

.qianniu-coupons_fill:before {
  content: "\e6fa";
}

.qianniu-coupons:before {
  content: "\e6fb";
}

.qianniu-createtask_fill:before {
  content: "\e6fc";
}

.qianniu-createtask:before {
  content: "\e6fd";
}

.qianniu-customerservice_fill:before {
  content: "\e6fe";
}

.qianniu-customerservice:before {
  content: "\e6ff";
}

.qianniu-delete_fill:before {
  content: "\e700";
}

.qianniu-delete:before {
  content: "\e701";
}

.qianniu-document:before {
  content: "\e702";
}

.qianniu-document_fill:before {
  content: "\e703";
}

.qianniu-dynamic_fill:before {
  content: "\e704";
}

.qianniu-dynamic:before {
  content: "\e705";
}

.qianniu-editor:before {
  content: "\e706";
}

.qianniu-eit:before {
  content: "\e707";
}

.qianniu-emoji_fill:before {
  content: "\e708";
}

.qianniu-emoji:before {
  content: "\e709";
}

.qianniu-empty:before {
  content: "\e70a";
}

.qianniu-empty_fill:before {
  content: "\e70b";
}

.qianniu-enter:before {
  content: "\e70c";
}

.qianniu-enterinto:before {
  content: "\e70d";
}

.qianniu-enterinto_fill:before {
  content: "\e70e";
}

.qianniu-feedback_fill:before {
  content: "\e70f";
}

.qianniu-feedback:before {
  content: "\e710";
}

.qianniu-flag_fill:before {
  content: "\e711";
}

.qianniu-flag:before {
  content: "\e712";
}

.qianniu-flashlight:before {
  content: "\e713";
}

.qianniu-flashlight_fill:before {
  content: "\e714";
}

.qianniu-flip:before {
  content: "\e715";
}

.qianniu-flip_fill:before {
  content: "\e716";
}

.qianniu-fullscreen:before {
  content: "\e717";
}

.qianniu-group:before {
  content: "\e718";
}

.qianniu-group_fill:before {
  content: "\e719";
}

.qianniu-headlines_fill:before {
  content: "\e71a";
}

.qianniu-headlines:before {
  content: "\e71b";
}

.qianniu-homepage_fill:before {
  content: "\e71c";
}

.qianniu-homepage:before {
  content: "\e71d";
}

.qianniu-integral_fill:before {
  content: "\e71e";
}

.qianniu-integral:before {
  content: "\e71f";
}

.qianniu-interactive_fill:before {
  content: "\e720";
}

